*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #f7f7f7;
}
select{
    background-color: #2c3e50;
    color: white;
    border: none;
}
option{
    color: white;
}

.header{
    top: 0;
    position:fixed;
    width:100%; 
    color: white;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 14px 60px;
    background-color: #2c3e50;
}
.main{
    background-color: #18bc9c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
   
}
.logo{
    margin-top: 50px;
}
.para{
    margin-top: 20px;
    margin-bottom: 20vh;
    font-size: 50px;
    font-family:'Times New Roman', Times, serif;
}

/* para and input email and cutton syling */

.inputCountaint{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 26px;
    gap: 20px;
}
/* paragraph  */
.paraIC{
    font-size: 20px;
    color: #999;
    font-family:'Times New Roman', Times, serif;
}
/* email input and button  */
.email{ 
    background-color: #f7f7f7;
    display: flex;
    gap: 3px; 
    padding: 0px 0px;
}
/* email input */
.email input{
    width: 350px;
    height: 35px;
    padding-left: 10px;
}
/* subscribe button */
.email button{
    background-color: #18BC9C;
    padding: 5px 10px;
    border: none;
    border-radius: 2px;
    color: white;
}
.email button:hover{
    background-color: #0a836b;
}
/* Grasshopper para  */
.grasshopper{
    display: flex;
    background-color: #f7f7f7;
    justify-content: center;
    padding: 52px 0px;
    color: #999999;
    font-size: 32px;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* rows opption rowA */
.rowA{
    margin-top: 0px;
    padding: 10px 0px;
    background-color: #f7f7f7;
    display: flex;
    padding: 14px 0px 14px 120px;
    justify-content:start;
    align-items: center;
    gap:20px;
}
.rowA img{
    border-radius: 80px;
}
.rowA h3{
    margin-top: 20px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.rowA p{
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 10px;
    width: 220px;
    text-align: center;
}

.rowA1{
    background-color: white;
    padding: 60px 20px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    height: 62vh
 }
.rowA1:hover{
    background-color: #18BC9C;
}

/* fotter style */
.fotter{
    background-color: rgb(44,62,80);   
    padding: 0px 100px 8px 100px;
    margin-top: 88px;
    display: flex;
    justify-content:center;
    align-items:center;
    gap : 54px;
    font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;
} 
.fotter-containt{
    padding:60px 15px;
    /* background-color: #18bc9c; */
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.fotter-containt p{
    width: 300px;
}
.atag{

    text-decoration: none;
    color: #368bcd;
}